pandas
numpy
sphinx_rtd_theme
rst2pdf
sphinx
pytest
irelease
sphinxcontrib-fulltoc
#git+https://github.com/SuperKogito/sphinxcontrib-pdfembed.git
#nbconvert # jupyter nbconvert --to html notebook.ipynb